@font-face {
    font-family: 'Coolvetica';
    src: url('@/assets/fonts/coolvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 * {
    box-sizing: border-box;
}

body {
    background: #F5F7F8;
}

.font-collvetica {
    font-family: 'Coolvetica', Arial, sans-serif;
    font-feature-settings: 'dlig' on;
}

.font-inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-feature-settings: 'dlig' on;
}