@font-face {
    font-family: 'Coolvetica';
    src: url('@/assets/fonts/coolvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 * {
    box-sizing: border-box;
}

body {
    background: #F5F7F8;
}

.font-collvetica {
    font-family: 'Coolvetica', Arial, sans-serif;
    font-feature-settings: 'dlig' on;
}

.font-inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-feature-settings: 'dlig' on;
}

.gradient-logo {
    background: linear-gradient(180deg, #2DDF65 0%, #0B5D25 186.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}